@charset "utf-8";
/* contributors.css */

div#content, div#sidebar {
	height: 2654px;
}

.coin {
	top:1158px;
}

.header {
	padding-top:42px;
	padding-bottom:50px;
	/*text-align:center;*/
	padding-left:298px;
}

div.person_left {
	padding-left:19px;
	width:319px;
}

div.person_left h2 {
	margin-top:-17px;
}

div.person_left p {
	font-size:15px;
	letter-spacing:.1px;
	line-height:1.2;
	margin-top:-10px;
	color:#231f20;
}

div.person_right {
	padding-left:20px;
	margin-top:-500px;
	width:300px;
	float:right;
	clear:both;
}

div.person_right h2 {
	margin-top:-21px;
}

div.person_right p {
	font-size:14px;
	letter-spacing:.1px;

	line-height:1.0;
	margin-top:-10px;
	color:#231f20;
}


/* 2.0 
========================== */

div#content, div#sidebar {
	height: 2900px;
}

.coin {
	top: 1403px;
}

.headshot {
	width: 158px;
	height: 158px;
	float: left;
}

.contributors {
	padding: 0;
}

.contributor {
	margin-left: 331px;
}

.contributor-info {
	margin-left: 197px;
	font-size: 13px;
	line-height: 17px;
}

.contributor-name {
	margin-top: -5px;
	margin-left: -2px;
}

.contributor-title {
	margin-left: 0;
	margin-top: 13px;
	min-height: 8px;
}

.contributor-bio {
	margin-top: 9px;
}

.contributors-dash {
	width: 601px;
	margin-left: -3px;
	margin-top: 9px;
	margin-bottom: 16px;
}

.six {
	margin-top: 6px;
}

.andrei.contributor-title {
	margin-left: -5px;
}






