@charset "utf-8";
/* dessert.css */


div#content {
	width:1046px;
}

div#sidebar {
	z-index:999;
}

.coin {
	top: 2206px;
}

div#content, div#sidebar {
	height:3700px;
}

div#pasta {
	width:1085px;
	position:relative;
	top:-30px;
	/*padding-top:100px;*/
}

.header {
	padding-top:52px;
	/*padding-bottom:50px;*/
	margin-left:297px;
}

.header img {
	width: 673px;
	margin-bottom: 9px;
}

.column {
	/*margin-left:12px;*/
	/*margin-top:-50px;*/
	/*position:absolute;*/
	/*top:201px;*/
	/*z-index:-999;*/
	padding-left:12px;
}

.column_2 {
	margin-left:506px;
	top:285px;
	/*margin-top:-722px;*/
	position:absolute;
}

.column_3 {
	margin-left:728px;
	top:201px;
	position:absolute;
}

div.column img {
	/*padding-bottom:20px;*/
	margin-left:-10px;
}

p.question {
	text-align:left;
	width:46%;
	color:#7a3326;
	font-size:27px;
	margin-left:285px;
	font-weight:600;
	margin-top:30px;
}

p.menu_item {
	text-align:left;
	width:40%;
	color:#000;
	font-size:14px;
	margin-left:285px;
	font-weight:600;
	margin-top:-7px;
/*	padding:0;	*/
}

p.description {
	text-align:left;
	width:100%;
	color:#000;
	font-size:14px;
	/*margin-left:285px;*/
	font-weight:500;
	margin-top:-13px;
	margin-left:30px;
	padding-bottom:8px;
}

div.hr_interview {
	width:318px;
	height:5px;
	overflow:hidden;
}

div.column_2 p.question {
	text-align:left;
	width:90%;
	color:#7a3326;
	font-size:27px;
	margin-left:30px;
	font-weight:600;
	padding:0;
}

div.column_2 p.menu_item {
	text-align:left;
	width:100%;
	color:#000;
	font-size:14px;
	margin-left:30px;
	font-weight:600;
	margin-top:-7px;
/*	padding:0;	*/
}

div.column_2 p.description {
	text-align:left;
	width:100%;
	color:#000;
	font-size:14px;
	/*margin-left:285px;*/
	font-weight:500;
	margin-top:-13px;
	padding-bottom:8px;
}


p.question span {
	font-variant:small-caps;
	font-size:25px;
	/*border-bottom:thin solid #000;*/
	/*padding-bottom:10px;*/
}

div.column_3 p.question {
	text-align:left;
	width:90%;
	color:#7a3326;
	font-size:27px;
	margin-left:30px;
	font-weight:600;
	padding:0;
}

div.column_3 p.menu_item {
	text-align:left;
	width:100%;
	color:#000;
	font-size:14px;
	margin-left:30px;
	font-weight:600;
	margin-top:-7px;
/*	padding:0;	*/
}

div.column_3 p.description {
	text-align:left;
	width:100%;
	color:#000;
	font-size:14px;
	/*margin-left:285px;*/
	font-weight:500;
	margin-top:-13px;
	padding-bottom:8px;
}

div#pasta div.column {
	/*margin-left:12px;*/
	/*margin-top:108px;*/
	/*position:absolute;*/
	margin-top:90px;
}

div#pasta div.column_2, div#pasta div.column_3 {
	/*margin-left:30px;*/
	/*margin-top:34px;*/
	top:61px;
	/*left:554px;*/
	/*margin-left:0px;*/
	/*margin-top:0px;*/
	position:absolute;
	/*clear:both;*/
}

div.column p.description {
	margin-left:286px;
}

.special_pasta {
	padding-top:129px !important;
}

.special_pasta2 {
	padding-top:165px !important;
}

div#beer {
	width:1085px;
	padding-top:100px;
}


div#beer div.column {
	margin-left:12px;
	/*margin-top:108px;*/
	position:absolute;
	top: 2360px;
}

div#beer div.column_2, div#beer div.column_3 {
	/*margin-left:30px;*/
	/*margin-top:34px;*/
	top:2437px;
	/*left:554px;*/
	/*margin-left:0px;*/
	/*margin-top:0px;*/
	position:absolute;
	/*clear:both;*/
}


div#cordials {
	width:1085px;
	padding-top:100px;
}


div#cordials div.column {
	margin-left:12px;
	/*margin-top:108px;*/
	position:absolute;
	top: 3060px;
}

div#cordials div.column_2, div#cordials div.column_3 {
	/*margin-left:30px;*/
	/*margin-top:34px;*/
	top:3137px;
	/*left:554px;*/
	/*margin-left:0px;*/
	/*margin-top:0px;*/
	position:absolute;
	/*clear:both;*/
}

.first {
	padding:2em 0 0 0;
}

div.hr_menu_sandwiches {
	background:url(images/hr_menu_sandwiches.png) top left no-repeat;
	width: 671px;
	overflow: hidden;
	margin-left: 285px;
	margin-top: -24px;
	margin-bottom: 8px;
}

div.hr_menu_cocktails {
	background:url(images/hr_menu_sandwiches.png) top left no-repeat;
	width: 430px;
	overflow: hidden;
	margin-left: 285px;
	margin-top: -24px;
	margin-bottom: 7px;
}

div.hr_menu_wine {
	background:url(images/hr_menu_sandwiches.png) top left no-repeat;
	width: 671px;
	overflow: hidden;
	margin-left: 285px;
	margin-top: -24px;
	/*margin-bottom: -19px;*/
}

div.hr_menu_brunch_cocktails {
	background:url(images/hr_menu_sandwiches.png) top left no-repeat;
	width: 210px;
	overflow: hidden;
	margin-left: 30px;
	margin-top: -24px;
	margin-bottom: 7px;
}

p.description span {
	font-weight:normal;
}

.sparkling {
	padding:15px 0 0 0;
}

.taps {
}



@media only screen and (max-device-width: 480px) {

div#content, div#sidebar {
	height:4000px !important;
}

div#pasta div.column_2, div#pasta div.column_3 {
	top:77px;
}

div#beer div.column {
	top:2561px;
}

div#beer div.column_2, div#beer div.column_3 {
	top:2637px;
}

div#content, div#sidebar {
	height:4650px;
}

div#cordials div.column {
	top:3331px;
}

div#cordials div.column_2, div#cordials div.column_3 {
	top:3417px;
}

.coin {
	top: 2505px;
}

}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
/* iPads */

	div#beer div.column {
		margin-left:12px;
		/*margin-top:108px;*/
		position:absolute;
		top: 2460px;
	}

	div#beer div.column_2, div#beer div.column_3 {
		/*margin-left:30px;*/
		/*margin-top:34px;*/
		top:2537px;
		/*left:554px;*/
		/*margin-left:0px;*/
		/*margin-top:0px;*/
		position:absolute;
		/*clear:both;*/
	}

	div#cordials div.column {
		margin-left:12px;
		/*margin-top:108px;*/
		position:absolute;
		top: 3260px;
	}

	div#cordials div.column_2, div#cordials div.column_3 {
		/*margin-left:30px;*/
		/*margin-top:34px;*/
		top:3337px;
		/*left:554px;*/
		/*margin-left:0px;*/
		/*margin-top:0px;*/
		position:absolute;
		/*clear:both;*/
	}

	.coin {
		top: 2365px;
	}

	div#content, div#sidebar {
		height: 3860px;
	}

}