@charset "utf-8";
/* contributors.css */

body {
	background:url(images/bg_full2.jpg) top left repeat;
}

div#content, div#sidebar {
	height:1850px;
}

.coin {
	top: 355px;
}

.header {
	padding-top:42px;
	padding-bottom:50px;
	text-align:center;
}

.column {
	padding-left:309px;
}

.column_2 {
	left:660px;
	top:466px;
	width:28%;
	position:absolute;
}

div.column img {
	padding-bottom:20px;
}

p.question {
	text-align:left;
	width:46%;
	color:#7a3326;
	font-size:14px;
	padding-left:285px;
	font-weight:500;
	padding:0;
}

p.answer {
	text-align:left;
	width:327px;
	color:#000;
	font-size:17px;
	/*padding-left:285px;*/
	font-weight:500;
	margin-top:-4px;
	padding-bottom:8px;
}

div.hr_interview {
	width:318px;
	height:5px;
	overflow:hidden;
}

div.column_2 p.question {
	text-align:left;
	width:84%;
	color:#7a3326;
	font-size:14px;
	padding-left:285px;
	font-weight:500;
	padding:0;
}

div.column_2 p.answer {
	text-align:left;
	width:323px;
	color:#000;
	font-size:17px;
	/*padding-left:285px;*/
	font-weight:500;
	margin-top:-4px;
	padding-bottom:8px;
}


@media only screen and (max-device-width: 480px) {

	div#content, div#sidebar {
		height: 1900px;
	}

	.coin {
		top: 405px;
	}

}
