@charset "utf-8";
/* contributors.css */

.coin {
	top: 30px;
}

div#intro {
	background:url(images/intro_box.png) no-repeat top center;
	width:486px;
	height:263px;
	margin-left:457px;
	margin-top:-110px;
}

div#intro p {
	color:#FFF;
	padding-top:32px;
	padding-left:70px;
	width:74%;
	font-family:Garamond, serif;
	font-size:16px;
	font-weight:400;

}

div#intro p span {
	font-weight:600;
}

div#intro p span a {
	color:#FFF;
}

div#dinner_text {
	/*text-align:center;*/
	padding-top:40px;
	/*padding-left:368px;*/
}

div#dinner_text_intro {
	/*text-align:center;*/
	padding-top:54px;
	padding-left:299px;
}

div#spotify {
	position: relative;
	top: -527px;
	left: 405px;
	width:600px;
}